---
const { element, ...attr } = Astro.props;
import { twMerge } from "tailwind-merge";

const defaultClasses = [
  "prose",
  "dark:prose-invert",
  "prose-a:text-blue-600",
  "prose-img:rounded-xl",
].join(" ");
---

<p
  class:list={twMerge(["element_description", defaultClasses, attr.class])}
  {...attr}
>
  {element.name} is a chemical element with the symbol {element.symbol}
  and atomic number <em>{element.number}</em>.

  {element.weight && <>It has an atomic weight of {element.weight}.</>}

  {
    !element.group && element.classification && (
      <>It is classed as {element.classification}.</>
    )
  }

  {
    !element.classification && element.group && (
      <>It is part of group {element.group} (group name here).</>
    )
  }

  {
    element.classification && element.group && (
      <>
        It is classed as {element.classification} and is part of group{" "}
        {element.group} (group name here).
      </>
    )
  }

  {
    element.stp && element.stp === "synthetic" ? (
      <>
        {element.name} is a {element.stp} chemical.
      </>
    ) : (
      <>
        {element.name} is {element.stp} at room temperature and pressure.
      </>
    )
  }
</p>

{
  element.description && (
    <p
      class:list={twMerge(["element_description", defaultClasses, attr.class])}
      {...attr}
    >
      {element.description}
    </p>
  )
}

<style>
  .element_description {
    margin-top: 0;
    margin-bottom: 1rem;
  }
</style>
