---
import Prose from '@layouts/Prose.astro';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<"div">{
	label: string;
  id?: string;
	icon?: string;
}

const {label, id = label.replace(/\s+/g, '-').toLowerCase(), icon, ...attr} = Astro.props;

if (!label) {
	throw new Error('Missing prop `label` on `<TabItem>` component.');
}

const tab_id = `tab-panel-${id}`;
const aria_labelledby = `tab-${id}`;
---
<section 
  data-tabitem 
  data-label={label} 
  data-icon={icon} 
  id={tab_id} 
  aria-labelledby={aria_labelledby}
  aria-role="tabpanel"
  role="tabpanel" 
  class="tab__item"
  {...attr}>
  <Prose>
    <slot />
  </Prose>
</section>

<style>
  [aria-role="tabpanel"][hidden] {
    opacity: 0;
    animation: fadeIn .5s ease-in-out;
  }

  [aria-role="tabpanel"] {
    opacity: 1;
    animation: fadeIn .5s ease-in-out;
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
</style>