---
import type { ParkSchema } from "@/types/park";
import BackTo from "@components/Navigation/BackTo/BackTo.astro";
import Container from "@layouts/Container.astro";
import Layout from "@layouts/Layout.astro";
import Prose from "@layouts/Prose.astro";
import type { GetStaticPaths } from 'astro';
import { getUsStateName } from '@lib/helpers'
import { Icon } from "astro-icon/components";

export const prerender = true;

export const getStaticPaths = (async () => {
  const response = await fetch('http://localhost:4321/api/parks.json');
  const parks = await response.json();

  console.log(parks[0]);
  const paths = parks.map((park: ParkSchema) => ({
    params: { name: park.data.name.replace(/\s+/g, '-').toLowerCase() },
    props: { park }
  }));

  return paths;
}) satisfies GetStaticPaths;

const { park } = Astro.props as { park: ParkSchema };

const path_park_name = park.data.name.replace(/\s+/g, '-').toLowerCase();
const data = park.data;
const date = new Date();

// Format for a specific locale and options
const formatter = new Intl.DateTimeFormat('en-US', {
    weekday: 'long',
    year: 'numeric',
    month: 'long',
    day: 'numeric',
    hour: '2-digit',
    minute: '2-digit',
    // second: '2-digit',
    // timeZoneName: 'short',
});
---
<Layout>
  <div class="max-w-[80ch] mx-auto">

    <BackTo class="mt-3" href="/parks" title="Return to all blog authors listing page">Back to Parks</BackTo>

    <hgroup class="flex flex-col gap-2 align-baseline pt-8 pb-12">
      <p class="text-md text-gray-500">{park?.data.name} <span class="font-light m-0 p-0 italic">{park?.data.designation}</span></p>
      <h1 class="font-bold text-3xl m-0 mb-0 p-0">Operating Hours & Entrance Fees</h1>
    </hgroup>
    
    {park.data.operatingHours && (
      <BackTo class="" href={`/parks/park/${path_park_name}`} title="Return to all blog authors listing page">Back to General Information</BackTo>
      <section>
        <ul class="list-none py-6">
          {park?.data.operatingHours.map((item) => (
            <li class="mb-8 pb-8 border-b-1 border-gray-300">
              <section>
                <h3 class="font-semibold text-lg mb-3 py-0">{item?.name}</h3>
                <p>{item?.description}</p>
                <h4 class="font-semibold my-3 mb-2 py-0">Standard Hours</h4>
                <dl class="ml-0">
                  <div class="flex items-baseline gap-2">
                    <dt class="font-semibold my-0 py-0">Monday:</dt>
                    <dd class="font-normal my-0 py-0">{item?.standardHours?.monday}</dd>
                  </div>
                  <div class="flex items-baseline gap-2">
                    <dt class="font-semibold my-0 py-0">Tuesday:</dt>
                    <dd class="font-normal my-0 py-0">{item?.standardHours?.tuesday}</dd>
                  </div>
                  <div class="flex items-baseline gap-2">
                    <dt class="font-semibold my-0 py-0">Wednesday:</dt>
                    <dd class="font-normal my-0 py-0">{item?.standardHours?.wednesday}</dd>
                  </div>
                  <div class="flex items-baseline gap-2">
                    <dt class="font-semibold my-0 py-0">Thursday:</dt>
                    <dd class="font-normal my-0 py-0">{item?.standardHours?.thursday}</dd>
                  </div>
                  <div class="flex items-baseline gap-2">
                    <dt class="font-semibold my-0 py-0">Friday:</dt>
                    <dd class="font-normal my-0 py-0">{item?.standardHours?.friday}</dd>
                  </div>
                  <div class="flex items-baseline gap-2">
                    <dt class="font-semibold my-0 py-0">Saturday:</dt>
                    <dd class="font-normal my-0 py-0">{item?.standardHours?.saturday}</dd>
                  </div>
                  <div class="flex items-baseline gap-2">
                    <dt class="font-semibold my-0 py-0">Sunday:</dt>
                    <dd class="font-normal my-0 py-0">{item?.standardHours?.sunday}</dd>
                  </div>
                </dl>
                {item?.exceptions && item?.exceptions.length > 0 && (
                  <details>
                    <summary>Exceptions</summary>
                    <ul>
                      {item?.exceptions?.map((exception) => { 
                        const startDate = exception?.startDate as string;
                        const endDate = exception?.endDate as string;
                        return (
                          <li>
                          <h4>{exception?.name}</h4>
                          <time>From <strong>{formatter.format(new Date(startDate))}</strong> to <strong>{formatter.format(new Date(endDate))}</strong></time>
                          <dl>
                            <dt>Monday</dt>
                            <dd>{exception?.exceptionHours?.monday}</dd>
                            <dt>Tuesday</dt>
                            <dd>{exception?.exceptionHours?.tuesday}</dd>
                            <dt>Wednesday</dt>
                            <dd>{exception?.exceptionHours?.wednesday}</dd>
                            <dt>Thursday</dt>
                            <dd>{exception?.exceptionHours?.thursday}</dd>
                            <dt>Friday</dt>
                            <dd>{exception?.exceptionHours?.friday}</dd>
                            <dt>Saturday</dt>
                            <dd>{exception?.exceptionHours?.saturday}</dd>
                            <dt>Sunday</dt>
                            <dd>{exception?.exceptionHours?.sunday}</dd>
                          </dl>
                          </li>
                        )
                      })}
                    </ul>
                  </details>
                )}
              </section>
            </li>
          ))}
        </ul>
      </section>
    )}

    {park?.data.entranceFees.length > 0 && (
      <BackTo class="mt-3 mb-8" href={`/parks/park/${path_park_name}`} title="Return to all blog authors listing page">Back to General Information</BackTo>
      <section>
        <h2 class="font-semibold text-2xl pt-0 pb-12">Entrance Fees</h2>
        <dl>
          {park?.data.entranceFees.map((item) => (
            <div class="mb-8 pb-8 border-b-1 border-gray-300">
              <dt class="font-semibold text-lg">{item?.title}</dt>
              <dd><strong>${item?.cost}</strong></dd>
              <dd>{item?.description}</dd>
            </div>
          ))}
        </dl>
      </section>
    )}


    {park?.data.entrancePasses.length > 0 && (
      <BackTo class="mt-3 mb-8" href={`/parks/park/${path_park_name}`} title="Return to all blog authors listing page">Back to General Information</BackTo>
      <section>
        <h2 class="font-semibold text-xl mb-2">Entrance Passes</h2>
        <dl>
          {park?.data.entrancePasses.map((item) => (
            <div>
              <dt>{item?.title}</dt>
              <dd><strong>${item?.cost}</strong></dd>
              <dd>{item?.description}</dd>
            </div>
          ))}
        </dl>
      </section>
    )}

    <!-- {park?.addresses.length > 0 && (
      <section>
        <h2 class="font-semibold text-xl">Addresses</h2>
        <ul>
          {park?.addresses.map((address) => (
            <li class="mt-4">
              <address>
                <h3 class="font-semibold text-lg mb-2">{address?.type}</h3>
                {address?.line1 && <p>{address?.line1}</p>}
                {address?.line2 && <p>{address?.line2}</p>}
                {address?.line3 && <p>{address?.line3}</p>}
                {address?.city && address?.stateCode && address?.postalCode && <p>{address?.city}, {address?.stateCode} {address?.postalCode}</p>}
              </address>
            </li>
          ))}
        </ul>
      </section>
    )} -->

    <BackTo class="mt-8" href={`/parks/park/${path_park_name}`} title="Return to all blog authors listing page">Back to General Information</BackTo>

    {park?.data.url && (
      <nav class="my-20">
        <a href={park.data.url}>
          <h2 class="font-bold text-lg mb-2">Learn more!</h2>
          <p>Visit the official website for this park.</p>
        </a>
      </nav>
    )}

  </div>
</Layout>

<style>
  section + section {
    margin-block-start: 2rem;
  }
</style>