---
import PeriodicTablePageDisplayNav from "@custom/PeriodicTablePageDisplayNav.astro";
import Layout from "@layouts/Layout.astro";
import Heading from "@components/Base/Heading/Heading.astro"
import { getCollection } from "astro:content";

// Content collection import
const elements = await getCollection("elements");
const elementsData = elements
  .map((element) => ({
    id: element.id,
    ...element.data,
  }))
  .sort((a, b) => a.number.valueOf() - b.number.valueOf());
---

<Layout title="Periodic Elements">
  <div class="max-w-screen-xl mx-auto">
    <Heading as="h1">Periodic Elements</Heading>
    <p>This is a page listing periodic elements</p>
    <PeriodicTablePageDisplayNav />
  </div>
  <ol>
    {elementsData.map((element) => {
      const href = `/periodic_elements/${element.id}`;
      return (
        <li data-number="{element.number}">
          <a class="element_link" href={href}>
            <article
              class="teaser element_teaser"
              data-number="{element.number}"
              data-symbol="{element.symbol}"
              data-name="{element.name}"
            >
              <span class="element_number">{element.number}</span>
              <span class="element_symbol">{element.symbol}</span>
              <span class="element_name">{element.name}</span>
              {/* <span class="element_weight">{element.weight}</span> */}
            </article>
          </a>
        </li>
      );
    })}
  </ol>
</Layout>

<style>
  .teaser {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  ol,
  ul {
    list-style: none;
    margin: 1.5rem 0;
    padding: 0;
    border: 1px solid #e5e7eb;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8ch, 1fr));
    gap: 0;
  }

  li {
    display: flex;
    flex-direction: column;
  }

  .element_teaser {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background: #f9fafb;
    border: 1px solid #e5e7eb;
    padding: 0.5rem;
    transition:
      background-color 0.2s,
      box-shadow 0.2s;
  }

  .element_link {
    text-decoration: none;
  }

  .element_symbol {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
  }

  .element_name {
    font-size: .75rem;
    hyphens: auto;
    hyphenate-limit-chars: 0 4 4;
  }

    .element_weight {
    font-size: .5rem;
  }
</style>
