---
import PeriodicTablePageDisplayNav from "@custom/PeriodicTablePageDisplayNav.astro";
import Layout from "@layouts/Layout.astro";
import Heading from "@components/Base/Heading/Heading.astro"
import { getCollection } from "astro:content";

// Content collection import
const elements = await getCollection("elements");
const elementsData = elements
  .map((element) => ({
    id: element.id,
    ...element.data,
  }))
  .sort((a, b) => a.number.valueOf() - b.number.valueOf());
---

<Layout title="Periodic Elements">
  <div class="max-w-screen-xl mx-auto">
    <Heading as="h1">Periodic Elements</Heading>
    <p>This is a page listing periodic elements</p>
    <PeriodicTablePageDisplayNav />
  </div>

  <div class="max-w-screen-xl mx-auto my-10">
    <ol class="periodic-table">
      {elementsData.map((element) => {
        const href = `/periodic-elements/${element.id}`;
        if (element.series === 'Lanthanide' || element.series === 'Actinide' || element.series === 'Lanthanoid' || element.series === 'Actinoid') {
          return null;
        }
        return (
          <li 
            data-number={element.number} 
            class="element_item"
            >
            <a class="element_link" href={href}>
              <article
                class="teaser element_teaser"
                data-number={element.number}
                data-symbol={element.symbol}
                data-name={element.name}
                data-series={element.series}
              >
                <span class="element_number">{element.number}</span>
                <span class="element_symbol">{element.symbol}</span>
              </article>
            </a>
          </li>
        );
      })}
    </ol>
  </div>
  
  <div class="max-w-screen-xl mx-auto my-10">
    <ol class="periodic-table lanthanide-series">
      {elementsData.map((element) => {
        const href = `/periodic-elements/${element.id}`;
        if (element.series === 'Lanthanide' || element.series === 'Lanthanoid') {
          return (
            <li 
              data-number={element.number} 
              class="element_item"
              >
              <a class="element_link" href={href}>
                <article
                  class="teaser element_teaser"
                  data-number={element.number}
                  data-symbol={element.symbol}
                  data-name={element.name}
                  data-series={element.series}
                >
                  <span class="element_number">{element.number}</span>
                  <span class="element_symbol">{element.symbol}</span>
                </article>
              </a>
            </li>
          );
        }
      })}
    </ol>

    <ol class="periodic-table actinide-series">
      {elementsData.map((element) => {
        const href = `/periodic-elements/${element.id}`;
        if (element.series === 'Actinide' || element.series === 'Actinoid') {
          return (
            <li 
              data-number={element.number} 
              class="element_item"
              >
              <a class="element_link" href={href}>
                <article
                  class="teaser element_teaser"
                  data-number={element.number}
                  data-symbol={element.symbol}
                  data-name={element.name}
                  data-series={element.series}
                >
                  <span class="element_number">{element.number}</span>
                  <span class="element_symbol">{element.symbol}</span>
                </article>
              </a>
            </li>
          );
        }
      })}
    </ol>
  </div>

</Layout>

<style>

  :root {
    --periodic-table-width: 100%; /* 18 columns of 4rem each */
    --periodic-table-border-width: 3px;
    --periodic-table-border-radius: 1rem;
  }

  .periodic-table {
    list-style: none;
    inline-size: var(--periodic-table-width);
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
    gap: 0;
  }

  .lanthanide-series {
    margin-inline-start: auto;
  }

  .actinide-series {
    margin-inline-start: auto;
  }

  li {
    display: flex;
    flex-direction: column;
    flex-basis: calc(var(--periodic-table-width) / 18);
    flex-grow: 0;
    flex-shrink: 0;
  }

  li[data-number="1"] {
    margin-inline-end: calc(((var(--periodic-table-width) / 18) * 16) - var(--periodic-table-border-width));
    flex-basis: calc((var(--periodic-table-width) / 18) + var(--periodic-table-border-width));
  }

  li[data-number="1"] .element_teaser { 
    border-radius: var(--periodic-table-border-radius) var(--periodic-table-border-radius) 0 0;
    border-right-width: var(--periodic-table-border-width);
  }

  li[data-number="2"] .element_teaser { 
    border-radius: var(--periodic-table-border-radius) var(--periodic-table-border-radius) 0 0;
    border-right-width: var(--periodic-table-border-width);
  }

  li[data-number="4"] { 
    margin-inline-end: calc(((var(--periodic-table-width) / 18) * 10) - var(--periodic-table-border-width));
    flex-basis: calc((var(--periodic-table-width) / 18) + var(--periodic-table-border-width));
  }

  li[data-number="4"] .element_teaser { 
    border-radius: 0 var(--periodic-table-border-radius) 0 0;
    border-right-width: var(--periodic-table-border-width);
  }

  li[data-number="5"] .element_teaser { 
    border-radius: var(--periodic-table-border-radius) 0 0 0;
  }

  li[data-number="10"] .element_teaser { 
    border-right-width: var(--periodic-table-border-width);
  }

  li[data-number="12"] { 
    margin-inline-end: calc(((var(--periodic-table-width) / 18) * 10) - var(--periodic-table-border-width));
    flex-basis: calc((var(--periodic-table-width) / 18) + var(--periodic-table-border-width));
  }

  li[data-number="12"] .element_teaser { 
    border-right-width: var(--periodic-table-border-width);
  }

  li[data-number="18"] .element_teaser { 
    border-right-width: var(--periodic-table-border-width);
  }

  li[data-number="36"] .element_teaser { 
    border-right-width: var(--periodic-table-border-width);
  }

  li[data-number="39"] { 
    border-bottom-width: var(--periodic-table-border-width);
    margin-block-end: calc(var(--periodic-table-border-width) * -1);
  }
  
  li[data-number="54"] .element_teaser { 
    border-right-width: var(--periodic-table-border-width);
  }

  li[data-number="56"] { 
    margin-inline-end: calc(((var(--periodic-table-width) / 18) * 1) - var(--periodic-table-border-width));
    flex-basis: calc((var(--periodic-table-width) / 18) + var(--periodic-table-border-width));
  }

  li[data-number="56"] .element_teaser { 
    border-right-width: var(--periodic-table-border-width);
  }

  li[data-number="57"] .element_teaser { 
    border-radius: var(--periodic-table-border-radius) 0 0 0;
  }

  li[data-number="86"] .element_teaser { 
    border-right-width: var(--periodic-table-border-width);
  }

  li[data-number="87"] .element_teaser { 
    border-radius: 0 0 0 var(--periodic-table-border-radius);
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="88"] { 
    margin-inline-end: calc(((var(--periodic-table-width) / 18) * 1) - var(--periodic-table-border-width));
    flex-basis: calc((var(--periodic-table-width) / 18) + var(--periodic-table-border-width));
  }

  li[data-number="88"] .element_teaser { 
    border-radius: 0 0 var(--periodic-table-border-radius) 0;
    border-right-width: var(--periodic-table-border-width);
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="57"] { 
    margin-inline-start: auto;
  }

  li[data-number="71"] .element_teaser {
    border-radius: 0 var(--periodic-table-border-radius) 0 0;
    border-right-width: var(--periodic-table-border-width);
  }

  li[data-number="87"] .element_teaser { 
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="89"] { 
    margin-inline-start: auto;
  }

  li[data-number="89"] .element_teaser {
    border-radius: 0 0 0 var(--periodic-table-border-radius);
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="90"] .element_teaser { 
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="91"] .element_teaser { 
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="92"] .element_teaser { 
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="93"] .element_teaser { 
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="94"] .element_teaser { 
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="95"] .element_teaser { 
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="96"] .element_teaser { 
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="97"] .element_teaser { 
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="98"] .element_teaser { 
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="99"] .element_teaser { 
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="100"] .element_teaser { 
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="101"] .element_teaser { 
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="102"] .element_teaser { 
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="103"] .element_teaser { 
    border-radius: 0 0 var(--periodic-table-border-radius) 0;
    border-right-width: var(--periodic-table-border-width);
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="104"] .element_teaser { 
    border-radius: 0 0 0 var(--periodic-table-border-radius);
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="105"] .element_teaser { 
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="106"] .element_teaser { 
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="107"] .element_teaser { 
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="108"] .element_teaser { 
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="109"] .element_teaser { 
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="110"] .element_teaser { 
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="111"] .element_teaser { 
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="112"] .element_teaser { 
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="113"] .element_teaser { 
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="114"] .element_teaser { 
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="115"] .element_teaser { 
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="116"] .element_teaser { 
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="117"] .element_teaser { 
    border-bottom-width: var(--periodic-table-border-width);
  }

  li[data-number="118"] .element_teaser {
    border-radius: 0 0 var(--periodic-table-border-radius) 0;
    border-right-width: var(--periodic-table-border-width);
    border-bottom-width: var(--periodic-table-border-width);
  }

  .element_teaser {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 0rem 0.875rem;
    gap: 0.25rem;
    align-items: center;
    width: 100%;
    background: #f9fafb;
    border-width: var(--periodic-table-border-width);
    border-right-width: 0px;
    border-bottom-width: 0px;
    transition:
      background-color 0.2s,
      box-shadow 0.2s;
  }

  [data-series="Lanthanoid"] {
    background: #fde68a;
  }

  [data-series="Lanthanoid"]:hover {
    background: #fcd34d;
  }

  [data-series="Actinoid"] {
    background: #fca5a5; 
  }

  [data-series="Actinoid"]:hover {
    background: #f87171; 
  }

  .element_link {
    text-decoration: none;
  }

  .element_number {
    font-size: 0.75rem;
    font-weight: 600;
  }

  .element_symbol {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1;
  }

  .element_name {
    font-size: .5rem;
    hyphens: auto;
    hyphenate-limit-chars: 0 4 4;
  }

  .element_weight {
    font-size: .5rem;
  }
</style>
