---
import PeriodicTablePageDisplayNav from "@components/Custom/PeriodicTablePageDisplayNav.astro";
import Layout from "@layouts/Layout.astro";
import Heading from "@components/Base/Heading/Heading.astro";
import { getCollection } from "astro:content";

// Content collection import
const elements = await getCollection("elements");
const elementsData = elements
  .map((element) => ({
    id: element.id,
    ...element.data,
  }))
  .sort((a, b) => a.number.valueOf() - b.number.valueOf());
---

<Layout title="Periodic Elements: List display">
  <div class="max-w-screen-xl mx-auto">
    <Heading as="h1">Periodic Elements: List</Heading>
    <p>This is a page listing periodic elements</p>
    <PeriodicTablePageDisplayNav />
  </div>

  <ol>
    {
      elementsData.map((element) => {
        const href = `/periodic_elements/test/${element.id}`;
        return (
          <li data-number="{element.number}">
            <article
              class="teaser element_teaser"
              data-number="{element.number}"
              data-symbol="{element.symbol}"
              data-name="{element.name}"
            >
              <span class="element_name">
                {element.name} <span>{element.symbol}</span>
              </span>
              <span class="element_weight">{element.weight}</span>
              <a class="element_link" href={href}>
                More information
              </a>
            </article>
          </li>
        );
      })
    }
  </ol>
</Layout>

<style>
  ol,
  ul {
    list-style-type: decimal;
    margin: 2rem 0;
    padding: 0 0 0 1.25rem;
  }
</style>
