---
import PeriodicTablePageDisplayNav from "@components/Custom/PeriodicTablePageDisplayNav.astro";
import Layout from "@layouts/Layout.astro";
import Heading from "@components/Base/Heading/Heading.astro";
import { getCollection } from "astro:content";

// Content collection import
const elements = await getCollection("periodic_elements_list");
const elementsData = elements
  .map((element) => ({
    ...element.data,
  }))
  .sort((a, b) => a.id.valueOf() - b.id.valueOf());
---

<Layout title="Periodic Elements: List display">

  <div class="max-w-screen-xl mx-auto">
    <Heading as="h1">Periodic Elements: List</Heading>
    <p>This is a page listing periodic elements</p>
    <PeriodicTablePageDisplayNav />
  </div>

  <table>
    <thead>
      <tr>
        <th>Atomic Number</th>
        <th>Symbol</th>
        <th>Name</th>
        <th>Atomic Weight</th>
        <th>Electron config</th>
        <th>Series</th>
        <th>Valence</th>
        <th>Year discovered</th>
        <th>Density (g/cm^3)</th>
        <th>% Universe</th>
        <th>% Earth crust</th>
        <th>% Ocean</th>
        <th>% Human body</th>
        <th>Isotopes</th>
      </tr>
    </thead>
    <tbody>
      {
        elementsData.map((element) => {
          return (
            <tr>
              <td>{element.id}</td>
              <td>{element.symbol}</td>
              <td>{element.name}</td>
              <td>{element.atomic_weight}</td>
              <td>{element.electron_config}</td>
              <td>{element.series}</td>
              <td>{element.valence}</td>
              <td>{element.discovery_year}</td>
              <td>{element.density_g_per_cm3}</td>
              <td>{element.abundance_percent?.universe}</td>
              <td>{element.abundance_percent?.crust}</td>
              <td>{element.abundance_percent?.ocean}</td>
              <td>{element.abundance_percent?.human_body}</td>
              <td>{element.isotopes_count}</td>
            </tr>
          );
        })
      }
    </tbody>
  </table>
</Layout>

<style>
  ol,
  ul {
    list-style-type: decimal;
    margin: 2rem 0;
    padding: 0 0 0 1.25rem;
  }
</style>
